{% extends 'base.html' %}


{% block content %}
  <ul>
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">
              <button  type="button" class="btn btn-outline-primary" onclick= "refrescar();">↻</button>
            </th>
            <th scope="col">País</th>
            <th scope="col">Club</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>            
          </tr>
        </thead> 
        <tbody> 
          {% for país in país %}
            <tr>
              <th scope="row">
                <td>{{ país.país }}</td>
                <td>{{ país.club }}</td>
                <td>{{ país.jugador.nombre }}</td>
                <td>{{ país.jugador.apellido }}</td>
              </th>
            </tr> 
          {% endfor %}
        </tbody>
    </table> 
    <a class="btn btn-primary " href="{% url 'jugador_app:agr_país' %}" role="button">Nuevo País</a>         
  </ul>
{% endblock %}