{% extends 'base.html' %}
<a href="{% url 'jugador_app:jugadorxnombre'%}">buscar</a>

{% block content %}
  <ul>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for jugador in jugadores %}
            <tr>
              <th scope="row"></th>
                <td>{{ jugador.nombre}}</td>
                <td>{{ jugador.apellido}}</td>
                <td>{{ jugador.sueldo}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a class="btn btn-info" href="{% url 'jugador_app:jugadordetail' jugador.id %}"  role="button">ver</a>
                    <a class="btn btn-warning" href="{% url 'jugador_app:modificar' jugador.id %}">modificar</a>
                    <a class="btn btn-danger" href="{% url 'jugador_app:del-jugador' jugador.id %}">borrar</a>
                  </div>
                </td>
              </tr> 
            <a href="{% url 'jugador_app:jugadorxnombre'%}">buscar</a>             
            {% endfor %}
        </tbody>
      </table>          
  </ul>
{% endblock %}